body {
    background: pink;
}

div {
    font-size: 5vw;
    color: white;
    background: hsl(150, 30%, 50%);
    height: 50px;
    width: 50px;
}

.first {
/*    order: 3;*/
}

section {
    border: 1px dotted grey;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
/*    align-items: stretch;*/
}


