section {
    width: 400px;
    height: 400px;
    display: flex;
}

div {
    width: 200px;
    height: 400px;
    background: #111;
}

.panel {
    border-left: 1px solid #999;
}

.flip {
    background: #222;
}