body {
    background: hsl(100, 0%, 5%);
}

nav {
    background: hsl(150, 50%, 50%);
/*    text-align: right;*/
    
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1em 2em;
    display: inline-block;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.05);
}

/* medium screen */
@media (max-width: 773px) {
    nav {
        justify-content: center;
    }
    nav a {
        padding: 0.8em 1.5em;
    }
}

/* small screen */
@media (max-width: 620px) {
    nav {
        flex-direction: column;
        text-align: center;
    }
    nav a {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}

