body {
    background: hsl(100, 0%, 95%);
}

nav {
    background: hsl(100, 50%, 50%);
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1em 2em;
    display: inline-block;
    
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.05);
}

@media (max-width: 800px) {
    nav {
        justify-content: center;
    }
    nav a {
        padding: 1em 1.5em;
    }
}
    

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        text-align: center;
    }
    
    nav a {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}

