body {
    background: pink;
}

section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: flex-end;
    height: 500px;
}

div {
    background: hsl(200, 50%, 50%);
/*    height: 50px;*/
    width: 50px;
    font-size: 2em;
    color: white;
    text-align: center;
}
