div {
    width: 50px;
    height: 50px;
    background: orange;
    
    animation-name: moveAdvanced;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    
    
/*    animation-fill-mode: forwards;*/
}

@keyframes move {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(200px, 100px);
    }
}

@keyframes moveAdvanced {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    30% {
        transform: translate(100px, 0);
        background: green;
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translate(100px, 200px);
        border-radius: 50px;
    }
}