* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: hsl(100, 0%, 95%);
}

.container {
    display: flex;
    height: 100vh;
    
    /* for large browsers */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.contacts {
    background: red;
    width: 250px;
}

.chat-window {
    background: yellow;
    width: calc(100% - 250px);
}

/* for large browsers */
@media (min-width: 1200px) {
    .container {
        margin-top: 2vh;
        margin-bottom: 2vh;
        height: 96vh;
    }
}



/* one message */
.message {
    background-color: white;
    border-radius: 7px;
    padding: 7px 10px;
    width: 300px;
    max-width: 100%;
    
    position: relative;
}

.name {
    color: maroon;
}

.time {
    color: rgba(0, 0, 0, 0.4);
    text-align: right;
    margin-top: -7px;
}

.speech-triangle {
	width: 0;
	height: 0;
	border-top: 10px solid white;
	border-left: 10px solid transparent;
    
    position: absolute;
    bottom: 10px;
    left: -10px;
}